@import '../variables';

body {
  #app-version {
    position: fixed;
    right: 3px;
    bottom: 3px;
    border: 1px solid $app-version-color;
    color: $app-version-color;
    padding: 2px 6px;
    line-height: 17px;
  }
}
