@import 'material-design-icons';
@import 'google-sans';
@import 'roboto';

body {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6,
  .btn,
  .navbar-brand {
    font-family: 'Google Sans', sans-serif !important;
  }

  .form-filter * {
    margin: 10px 20px 20px 0;
  }
}

table {
  td,
  th {
    vertical-align: middle !important;
  }
}
