<div id="sidebar-container" class="sidebar-sticky d-none d-sm-block">
  <%= render 'layouts/admin/app_links', whos_call_me: 'sidebar' %>

  <div class="list-group-item-logo">
    <%= image_tag 'icons/apple-touch-icon.png',
                  class: 'rounded', title: app_text_version %>
  </div>
</div>
