<% if resource.errors.full_messages.any? %>
  <div class="alert alert-danger">
    <h4>Ocorreu um problema</h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li>* <%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
