<li class="page-item first">
  <%= link_to_unless current_page.first?,
                     t('views.pagination.first').html_safe,
                     url,
                     title: t('views.pagination.first'),
                     class: 'page-link',
                     remote: remote %>
</li>
